Adafruit-Blinka
adafruit-circuitpython-busdevice
adafruit-circuitpython-motor
adafruit-circuitpython-pca9685
adafruit-circuitpython-register
adafruit-circuitpython-servokit
Adafruit-GPIO
Adafruit-PCA9685
Adafruit-PlatformDetect
Adafruit-PureIO
apt-clone
apturl
asn1crypto
astroid
backcall
beautifulsoup4
black
blinker
board
Brlapi
certifi
chardet
click
colorama
colorlog
cryptography
cupshelpers
cycler
dataclasses
decorator
defer
distro-info
entrypoints
feedparser
graphsurgeon
html5lib
httplib2
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
isort
jedi
Jetson.GPIO
jupyter-client
jupyter-core
keyboard
keyring
keyrings.alt
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lazy-object-proxy
louis
lxml
macaroonbakery
Mako
MarkupSafe
matplotlib
mccabe
mypy-extensions
nest-asyncio
numpy
oauth
oauthlib
onboard
open3d
PAM
pandas
parso
pathspec
pexpect
pickleshare
platformdirs
prompt-toolkit
protobuf
ptyprocess
pycairo
pycparser
pycrypto
pycups
pyftdi
Pygments
PyGObject
PyICU
PyJWT
pylint
pymacaroons
PyNaCl
pyparsing
pyRFC3339
pyserial
python-apt
python-dateutil
python-debian
pytz
pyusb
pyxattr
pyxdg
PyYAML
pyzmq
requests
requests-unixsocket
scipy
SecretStorage
simplejson
six
smbus2
spidev
ssh-import-id
system-service
systemd-python
tensorrt
toml
tomli
tornado
tqdm
traitlets
typed-ast
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
uff
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
urllib3==1.22
urwid==2.0.1
virtualenv==15.1.0
wadllib==1.3.2
wcwidth==0.2.5
webencodings==0.5
wrapt==1.13.3
xkit==0.0.0
youtube_dl==2018.3.14
zipp==3.6.0
zope.interface==4.3.2
